# ignore all .DS_Store files everywhere
.DS_Store
exports/.DS_Store
imports/.DS_Store
working_files/.DS_Store
working_files/archived/.DS_Store

developer_archive/
__pycache__/

exports/capital_gains_fifo.csv
exports/capital_gains_lifo.csv
exports/capital_gains_hifo.csv
working_files/transactions_formatted.csv
